{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h3>Palabras Clave
            <a class="btn btn-success" href="{% url 'keywords:keywordsAgrega' %}">Agregar</a>
        </h3>
    </div>
    <div class="col-md-offset-8">
        <h3><form method="GET" action="{% url 'keywords:keywordsLista' %}">
            <input type="text" class="form-control" placeholder="Buscar" id="cuadroBusqueda" value="{{filtro}}" name="filtro">
            </form>
        </h3>
    </div>
</div>

<div class="row">
	<table class="table table-stripped table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Palabra</th>
				<th>Stem</th>
			</tr>
		</thead>
		<tbody>

			{% for keyword in object_list %}
			<tr>
				<td>{{ keyword.id }}</td>
				<td>{{ keyword.palabra }}</td>
				<td>{{ keyword.stem }}</td>
				<td>
					<a class="btn btn-primary" href="{% url 'keywords:keywordsEdita' pk=keyword.id %}">
						Editar</a>
				</td>
				<td>
					<a class="btn btn-danger" href="{% url 'keywords:keywordsElimina' pk=keyword.id %}">
						Eliminar</a>
				</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>

	{% if is_paginated %}
	
	<ul class="pagination">

		{% if page_obj.has_previous %}
			<li><a href="?filtro={{ filtro }}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
		{% else %}
			<li class="disabled"><span>&laquo;</span></li>
		{% endif %}
		{% for i in paginator.page_range %}
		{% if page_obj.number == i %}
			<li class="active"><span>{{ i }} <span class="sr-only">(actual)</span></span></li>
		{% else %}
			<li><a href="?filtro={{ filtro }}&page={{ i }}">{{ i }}</a></li>
		{% endif %}
		{% endfor %}
		{% if page_obj.has_next %}
			<li><a href="?filtro={{ filtro }}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
		{% else %}
			<li class="disabled"><span>&raquo;</span></li>
		{% endif %}

	</ul>
	{% endif %}

</div>



<!---
<script>
	$(document).ready(function(){
		$('#cuadroBusqueda').change(function(){
			var textoBusqueda = $(this).val();
			if (textoBusqueda != '') {
				$('tbody tr').each(function(indice, fila){
					// console.log(fila);
					var encontrado = false;
					$(fila).children().each(function(indiceCol){
						// console.log($(this).text());
						if ([1,2].indexOf(indiceCol) >= 0) {
							if ($(this).text().includes(textoBusqueda) || encontrado) {
								encontrado = true;
								$(this).parent().show();
							}
							else {
								$(this).parent().hide();
							}
						}
					});
				});
			}
			else {
				$('tbody tr').each(function(indice, fila){
					$(fila).show();
				});
			}
		});
	});
</script>
-->

{% endblock %}