#layoutgeneral{
    margin-left: 5%;
    margin-right: 5%;
}

#chatwindow{
white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;
   overflow-y:scroll;  background:white;
   width: 100%;
   height: 80%;
   resize:vertical;
   background:white;
   border:1px solid black;
}
#chatwell{
   height: 50vh;
}

#facewell{
}

#listas{
   overflow-y:scroll;background:white;
   width: 100%;
   height: 80%;
   resize:vertical;
   background:olive;
   border:1px solid black;
   margin-left: 5%;
   margin-right: 5%;
   margin-inside: 5px;
}

#navlogo{
    display: inline-block;
    margin:10%;
    color: #faebd7;
    background-color: antiquewhite;
}

.wellborder{
   border-color: rgb(94, 173, 173);
   border-width: 2px;
}
#complex_answer{
}
#complex_answer_content{
   width:100%;
   height:500px;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-y: visible;
}
#close_complex{
   float:right;
}

#navbar{
height:85px;
}

.navlink{
  padding-top: 17px;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px){
    .navbar-nav{
        text-align: right;
    }
#navcollapse{
  background-color: rgb(34, 34, 34);
  margin-top: 34px;
}
}


.navbar{
  z-index: 1000;
}

pre {
   background-color: ghostwhite;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px;
   }
.json-key {
   color: brown;
   }
.json-value {
   color: navy;
   }
.json-string {
   color: olive;
   }
